<h1>toys index</h1>


<div class="wrapper" style="border: 1px solid black;">
<div class="container">
<div class="cards">
  <% @toys.each do |toy| %>
    <div class="card">
    <img class="card-img-top" src="<%= toy.photo.attached? ? cl_image_path(toy.photo.key) : asset_path('#') %>" alt="Card image cap">

    <div class="card-body">
    <h4 class="card-title"><%= toy.name %></h4>
    <p class="card-text">
    </p>
    <a href=<%= toy_path(toy.id) %> class="btn btn-primary">See </a>

    </div>
    </div>
    <!-- <div class="#" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= toy.photo.attached? ? cl_image_path(toy.photo.key) : asset_path('#') %>); display: inline-block;"> -->
  <% end %>
</div>


</div>
</div>
