<h1>toys index</h1>


<div class="wrapper" style="border: 1px solid black;">
<div class="container">
<div class="cards">
  <% @toys.each do |toy| %>
    <div class="card">
    <img src="http://res.cloudinary.com/gperilli/image/upload/v1/development/<%= toy.photo.key %>">
    <p></p>

    <div class="card-body">
    <h4 class="card-title"><%= toy.name %></h4>
    <p class="card-text"><%= toy.photo.key %></p>
    <a href=<%= toy_path(toy.id) %> class="btn btn-primary">See </a>

    </div>
    </div>
  <% end %>
</div>


</div>
</div>
