<div class="banner-container d-flex">
  <%= image_tag "toys-banner.jpg", class:"banner-img" %>
  <div class="container d-flex flex-column justify-content-center align-items-start">
      <h1>Kids marketplace!</h1>
      <p>The best place to rent and borrow your toys!</p>
      <%= link_to "See our toys!", :toys, class:"btn btn-ghost" %>
  </div>
</div>
