@import "show";

.toy-grid-container {
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 0 8%;
    overflow: hidden;
    position: relative;
    display: block;
    background-color: transparent;
    padding-bottom: 50px;
}

.toy-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 30px;
   border: 0px solid blue;
  padding: 0px;
}


.toy-grid-item {
  width: 400px;
  height: 580px;
  box-shadow: 10px -8px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
  -webkit-box-shadow: 10px -8px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px -8px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
}

.photo-container {
  height: 300px;
  margin-bottom: 8px;
  img{
    object-fit: fill;
    border-radius: 20px 20px 0px 0px;
  }
}



.photo-class {
  object-fit: cover;
  width:100%;
  height: 300px;
}

.toy-text-class {
  width: 100%;
  color:#808080;
  font-size: 24px;
  font-weight: bold;
}

.text-red {
  color: #000;
}

.text-blue {
  color: blue;
}

@media(max-width: 700px) {
  .toy-grid-item {
    width: 350px;
    height: 500px;
  }
}


@media (max-width: 880px) {
  .toy-grid-container {
    width: 100%;
    float: left;
}
}

@media (max-width: 600px) {
  .toy-grid-item {
    width: 350px;
    height: 450px;
  }
}
