// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "toys/index";

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Genos:wght@300&display=swap');

body{
  background-image: url('background.jpg');
}

h1, h2, h3{
 font-family: 'Architects Daughter', cursive;
}

p, a{
  font-family: 'Architects Daughter', cursive;
  font-family: 'Genos', sans-serif;
}


.km-font-main {
  font-family: 'Genos', sans-serif;
}

.km-text-dark {
  color: #1B2631;
}

.km-text-price {
  color: #D68910;

.page-buttons {
  display: space-between;
}
