// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "toys/index";
@import "users/show";
@import "toys/new";

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Genos:wght@300&display=swap');


body{
  background-image: url('background.jpg');
}

h1, h2, h3{
 font-family: 'Architects Daughter', cursive;
}

p, a{
  font-family: 'Architects Daughter', cursive;
  font-family: 'Genos', sans-serif;
}

.km-font-main {
  font-family: 'Genos', sans-serif;
}

$ui-color-text-highlight: #D68910;
$ui-color-text-background: #d3aa67;
$ui-color-text-lowlight: #dbbe8f;

.km-text-dark {
  color: #1B2631;
    &:hover {
    color: #1B2631;
  }
}


.km-text-highlight {
  color: $ui-color-text-highlight;
}

.km-text-background {
  background-color: $ui-color-text-background;
}

.page-buttons {
  display: space-between;
}


.km-search-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.5em;
  padding-bottom: 10px;
  padding-top: 20px;
}

::placeholder {
  color: $ui-color-text-lowlight;
}

.km-search-bar__bar {
  max-width: 512px;
  width: 100%;
  align-items: center;
  border-radius: 25px;
  margin-right: 10px;
  border: 1px solid $ui-color-text-highlight;
  font-weight: 500;
  color: $ui-color-text-lowlight;
  font-size: 2.2em;
  padding-top: -5px;
  padding-left: 10px;
}

.km-search-bar__bar:focus {
  color: $ui-color-text-highlight;
  border: 1px solid $ui-color-text-highlight;
}

.km-search-bar__button {
  border-radius: 50%;
  height: 2.6em;
  width: 2.7em;
  border: 0px;
  color: #fff;
}

.bookings-back{
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  min-height: 100vh;
}

  h1, h2 ,h3 ,h4{
    color: white;
  }


.bookings-back-img{
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 750px;
  z-index: -1;
  padding: 0px;
  margin: 0px;
}

.form-back-container{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    height: 100vh;
}
